/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error {
  background: #a03e3e;
  color: white;
}
.success {
  background: #59ab3f;
  color: white;
}
